@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-one: #3f4154;
  --bg-two: #484b61;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
/* html {
  filter: invert(1);
} */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.commom-header {
  margin: 104px auto;
  max-width: 1180px;
  position: relative;
  z-index: 11;
}

.commom-header h2 {
  font-size: 55px;
  color: #ffffff;
  line-height: 56px;
}

.commom-header img {
  margin: 24px auto 20px 42px;
}

.commom-header h3 {
  font-size: 24px;
  color: #ffffff;
  line-height: 31px;
  letter-spacing: 3px;
}

.commom-header span {
  position: absolute;
  font-size: 150px;
  font-weight: 600;
  color: #a4a4f3;
  line-height: 150px;
  letter-spacing: 5px;
  left: 117px;
  top: -24px;
  opacity: 0.13;
}
.common-header {
  margin: 0 20px 50px;
}
.common-header h2 {
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  line-height: 25px;
}
.common-header img {
  margin: 4px 8px;
}
.common-header h3 {
  width: 1200px;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  line-height: 14px;
  letter-spacing: normal;
  margin: 0 auto;
}
.common-header span {
  font-size: 40px;
  font-weight: 600;
  color: #a4a4f3;
  line-height: 56px;
  letter-spacing: 1px;
  left: 32px;
  top: 0;
}
