.ant-menu {
  border: none !important;
}
.ant-menu-item {
  margin: 0 30px !important;
}
.ant-menu-submenu {
  margin: 0 30px !important;
}
.ant-menu-submenu > .ant-menu {
  background-color: red;
}
.menu {
  height: 65px;
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.03) inset;
}
.menu .nav_logo {
  width: 95px;
  height: 33px;
  margin-right: 45px;
  position: relative;
}
.nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}
