.map-main {
  background: #3f4154;
  min-height: 1080px;
  position: relative;
  overflow: hidden;
  background: url(/front/pic_bgw.png) no-repeat center;
  background-size: cover;
}
.map {
  height: 567px;
  max-width: 1180px;
  margin: 0 auto;
}
.map-dots {
  position: absolute;
  bottom: 80px;
  right: 400px;
}
.map-dot {
  margin: 16px;
  display: flex;
  align-items: center;
}
.dot-color {
  width: 20px;
  height: 20px;
}
.dot-text {
  margin: 0 8px;
  font-size: 16px;
  color: #fff;
  line-height: 16px;
}
