.Hmain {
  padding: 110px 0;
}
.drop {
  width: 1200px;
  background: url('/service/drop_icon_bg.png') no-repeat center;
  background-size: cover;
  margin: 0 auto 50px;
  padding: 180px 0 50px;
}
.title {
  font-size: 44px;
  font-family: SourceHanSansCN-Bold, SourceHanSansCN;
  font-weight: bold;
  color: #ffffff;
  line-height: 66px;
  text-shadow: 0 8px 10px rgba(0, 0, 0, 0.69);
  margin-bottom: 136px;
}
.common {
  width: 900px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  margin: 0 auto;
  padding: 30px 0 50px;
  box-sizing: border-box;
}
.common h2 {
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  line-height: 25px;
  margin-bottom: 10px;
}
.common h3 {
  width: 750px;
  font-size: 20px;
  font-family: SourceHanSansSC-Normal, SourceHanSansSC;
  font-weight: 400;
  color: #ffffff;
  line-height: 30px;
  letter-spacing: normal;
  margin: 0 auto;
}
.advantage {
  padding: 110px 0;
  background: #484b61;
}
.superiority {
  width: 1200px;
  margin: 0 auto;
}
.superiority ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 600px;
}
.superiority li {
  width: 425px;
  height: 295px;
  position: relative;
}
.superiority li:first-child {
  width: 332px;
  height: 600px;
  position: relative;
}
