.footer {
  background: #1c1d25;
}
h1 {
  font-weight: bold;
}
.content {
  display: flex;
  justify-content: center;
  padding: 40px 360px;
  font-family: Helvetica;
  color: #fff;
  white-space: pre;
}
.content > .left {
  margin-right: 60px;
  text-align: left;
}
.content .left .contact {
  margin-top: 28px;
}
.contact h1 {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 15px;
}
.contact p {
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 16px;
}
.contact p:nth-of-type(1)::before {
  content: url(/icon_dw.png);
  width: 14px;
  height: 16px;
  margin-right: 11px;
}
.contact p:nth-of-type(2)::before {
  content: url(/icon_ph.png);
  width: 14px;
  height: 16px;
  margin-right: 11px;
}
.contact p:last-child::before {
  content: url(/icon_fax.png);
  width: 14px;
  height: 16px;
  margin-right: 11px;
}
.content .middle {
  margin-right: 154px;
}
.middle h1 {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 15px;
}
.linkList {
  text-align: left;
}
.linkList li {
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 16px;
}
.linkList li:last-child {
  margin-bottom: 0;
}
.icon-line {
  width: 1px;
  height: 90px;
  margin-top: 85px;
  margin-right: 155px;
  background: #4d5068;
}
.right h1 {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 15px;
}
.right .emainInput .inputBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.inputBox .input {
  width: 285px;
  height: 45px;
}
.inputBox .input input {
  width: 100%;
  height: 100%;
  padding-left: 11px;
  background: #31333f;
  outline: none;
  border: 0;
  font-size: 20px;
  line-height: 24px;
  color: #dcdcdc;
}
.inputBox .btn {
  width: 75px;
  height: 45px;
  background: #e02329;
}
.inputBox .btn button {
  width: 100%;
  height: 100%;
  outline: none;
  border: 0;
  background: #e02329;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputBox .btn button .svg {
  width: 23px;
  height: 23px;
  position: relative;
}
.right .emainInput .hint {
  font-size: 12px;
  font-family: Helvetica;
  color: #ffffff;
  line-height: 14px;
}
.content-mobile {
  display: none;
  color: #fff;
}

@media screen and (max-width: 750px) {
  .content {
    display: none;
  }
  .content-mobile {
    display: block;
    padding: 0 77px;
  }
  .company-info {
    display: flex;
    justify-content: space-between;
    padding: 102px 0 72px;
  }
  .company-info .logo {
    position: relative;
    width: 445px;
    height: 87px;
  }
  .content-mobile .company-info p {
    font-size: 51px;
    font-family: SourceHanSansCN, SourceHanSansCN;
    font-weight: 400;
    color: #ffffff;
    line-height: 77px;
  }
  .friend-link {
    padding-top: 87px;
    border-top: 5px solid #282a3b;
  }
  .friend-link > p {
    font-size: 61px;
    font-family: SourceHanSansCN, SourceHanSansCN;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    line-height: 77px;
    text-align: left;
  }
  .friend-link .linkList {
    display: flex;
    flex-wrap: wrap;
    margin: 102px 0 72px 0;
  }
  .friend-link .linkList li a {
    display: inline-block;
    font-size: 61px;
    font-family: SourceHanSansCN, SourceHanSansCN;
    font-weight: 400;
    color: #ffffff;
    line-height: 77px;
    margin-bottom: 61px;
    margin-right: 123px;
  }
  .contact-us,
  .bottom {
    padding-top: 102px;
    border-top: 5px solid #282a3b;
  }
  .contact-us > p {
    font-size: 61px;
    font-family: SourceHanSansCN, SourceHanSansCN;
    font-weight: 400;
    color: #ffffff;
    line-height: 77px;
    margin-bottom: 41px;
    text-align: left;
  }
  .contact-us > p:first-child {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 102px;
  }
  .contact-us > p:nth-of-type(2)::before {
    content: url(/icon_dw.png);
    width: 61px;
    height: 61px;
    margin-right: 31px;
  }
  .contact-us > p:nth-of-type(3)::before {
    content: url(/icon_ph.png);
    width: 61px;
    height: 61px;
    margin-right: 31px;
  }
  .contact-us > p:nth-of-type(4)::before {
    content: url(/icon_fax.png);
    width: 61px;
    height: 61px;
    margin-right: 31px;
  }
  .bottom h1 {
    font-size: 82px;
    font-family: SourceHanSansSC, SourceHanSansSC;
    font-weight: 400;
    color: #ffffff;
    line-height: 77px;
    text-align: center;
    margin-bottom: 123px;
  }
  .bottom .emainInput .inputBox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bottom .emainInput .inputBox .input {
    width: 1618px;
    height: 205px;
    background: #31333f;
    backdrop-filter: blur(7px);
  }
  .inputBox .input input {
    padding-left: 56px;
    font-size: 61px;
    font-family: SourceHanSansSC, SourceHanSansSC;
    line-height: 77px;
  }
  .inputBox .btn {
    width: 348px;
    height: 205px;
    backdrop-filter: blur(0px);
  }
  .inputBox .btn button .svg {
    width: 119px;
    height: 118px;
  }
  .hint {
    font-size: 51px;
    font-family: SourceHanSansSC, SourceHanSansSC;
    font-weight: 400;
    color: #ffffff;
    line-height: 77px;
    text-align: center;
    margin: 51px auto 0;
    padding-bottom: 154px;
  }
}
